In [1]:
#sql basic
#mongo db

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\Datasets\\covid_toy.csv")

In [5]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [12]:
x_train

    age  gender  fever   cough       city
85   16  Female  103.0    Mild  Bangalore
76   80    Male  100.0    Mild  Bangalore
41   82    Male    NaN    Mild    Kolkata
9    64  Female  101.0    Mild      Delhi
68   54  Female  104.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
30   15    Male  101.0    Mild      Delhi
84   69  Female   98.0  Strong     Mumbai
42   27    Male  100.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi

[80 rows x 5 columns]

# Manually type output

In [13]:
from sklearn.impute import SimpleImputer

In [15]:
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(x_train[['fever']])

#also the test data
x_test_fever=si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [17]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [20]:
#ordinal Encoding --> cough

oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

#also the test data 
x_test_cough=oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [22]:
#ordinal Encoding --> cough

ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

#also the test data 
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [23]:
#extracting age

x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

#also the test dat

x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

In [24]:
x_train_age.shape

(80, 1)

In [26]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,
                                    x_train_gender_city,
                                    x_train_cough),axis=1)

In [28]:
x_train_transformed.shape

(80, 7)

# by column tranformer

In [29]:
from sklearn.compose import ColumnTransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop="first"),['gender','city'])
],remainder='passthrough')
# remainder passthoryugh ==> it means rest alll columns remain same

In [30]:
transformer.fit_transform(x_train).shape

(80, 7)

In [31]:
transformer.transform(x_test).shape

(20, 7)

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
from sklearn.compose import ColumnTransformer

In [53]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    # ('tnf2',LabelEncoder(),['cough']),
    ('tnf3',pd.get_dummies(df,columns=['gender','city'],drop_first=True))
     ],remainder='passthrough')

In [54]:
transformer.fit_transform(x_train).shape

ValueError: not enough values to unpack (expected 3, got 2)

In [46]:
x_train

    age  gender  fever   cough       city
85   16  Female  103.0    Mild  Bangalore
76   80    Male  100.0    Mild  Bangalore
41   82    Male    NaN    Mild    Kolkata
9    64  Female  101.0    Mild      Delhi
68   54  Female  104.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
30   15    Male  101.0    Mild      Delhi
84   69  Female   98.0  Strong     Mumbai
42   27    Male  100.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi

[80 rows x 5 columns]

In [58]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(strategy='mean'), ['fever']),  
    ('tnf2', OneHotEncoder(drop='first', handle_unknown='ignore'), ['gender', 'city'])  
], remainder='passthrough')

In [59]:
transformed_data = transformer.fit_transform(x_train)

In [60]:
transformed_data.shape

(80, 7)

In [62]:


df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\Datasets\\insurance.csv")

In [63]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [65]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [71]:
a=pd.get_dummies(df,columns=['sex','smoker','region'],drop_first=True)
a=a.astype(int)
a.shape

(1338, 9)

In [74]:
ohe=OneHotEncoder(drop='first',sparse_output=True,dtype=np.int32)

In [75]:
df=ohe.fit_transform(df[['smoker','sex','region']])
df

UFuncTypeError: ufunc 'maximum' did not contain a loop with signature matching types (dtype('<U6'), dtype('<U6')) -> None