In [30]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anski\anaconda3\lib\site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anski\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anski\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anski\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\anski\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [1]:
pip show scikit-learn

Name: scikit-learn
Version: 1.6.0
Summary: A set of python modules for machine learning and data mining
Home-page:
Author:
Author-email:
License: BSD 3-Clause License

 Copyright (c) 2007-2024 The scikit-learn developers.
 All rights reserved.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

 ----

 This binary distribution of scikit-learn also bundles the following software:

 ----

 Name: Microsoft Visual C++ Runtime Files
 Files: sklearn\.libs\*.dll
 Availability: https://learn.microsoft.com/en-us/visualstudio/releases/2015/2015-redistribution-vs

 Subject to the License Terms for the software, you may copy and distribute with your
 program any of the files within the followng folder and its subfolders except as noted
 below. You may not modify these files.

 C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist

 You may not distribute the contents of the following folders:

 C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist\debug_nonredist
 C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\redist\onecore\debug_nonredist

 Subject to the License Terms for the software, you may copy and distribute the following
 files with your program in your programâ€™s application local folder or by deploying them
 into the Global Assembly Cache (GAC):

 VC\atlmfc\lib\mfcmifc80.dll
 VC\atlmfc\lib\amd64\mfcmifc80.dll

Location: C:\Users\anski\anaconda3\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: imbalanced-learn
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer

In [3]:
si=SimpleImputer(strategy ="mean")

In [4]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\covid_toy.csv")

In [5]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [9]:
df2=df.copy()

In [10]:
si=SimpleImputer(strategy ="mean")

In [11]:
df['fever']=si.fit_transform(df[['fever']])

In [10]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [12]:
df2['gender']=df2['gender'].map({"Male":1,"Female":0})

In [40]:
df2

    age  gender  fever   cough       city has_covid
0    60       1  103.0    Mild    Kolkata        No
1    27       1  100.0    Mild      Delhi       Yes
2    42       1  101.0    Mild      Delhi        No
3    31       0   98.0    Mild    Kolkata        No
4    65       0  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12       0  104.0    Mild  Bangalore        No
96   51       0  101.0  Strong    Kolkata       Yes
97   20       0  101.0    Mild  Bangalore        No
98    5       0   98.0  Strong     Mumbai        No
99   10       0   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [13]:
df2.sample(3)

    age  gender  fever   cough       city has_covid
20   12       1   98.0  Strong  Bangalore        No
62   56       0  104.0  Strong  Bangalore       Yes
90   59       0   99.0  Strong      Delhi        No

In [14]:
df2['cough']=df2['cough'].map({"Mild":0,"Strong":0})
df2['has_covid']=df2['has_covid'].map({"Yes":1,"No":0})
df2['city']=df2['city'].map({"Kolkata":1,"Banglore":0,"Delhi":2,"Mumbai":3})

In [15]:
df2.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0   1.0          0
1   27       1  100.0      0   2.0          1
2   42       1  101.0      0   2.0          0

In [16]:
x=df2.drop(columns=["has_covid"])
y=df2["has_covid"]

In [1]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2 ,random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc=StandardScaler()

In [22]:
x_train_sc=sc.fit_transform(x_train)

x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)
x_train_new

In [3]:
np.round(x_train_new.describe(), 1)

NameError: name 'np' is not defined

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [53]:
mn=MinMaxScaler()

In [54]:
x_train_mn=mn.fit_transform(x_train)

In [55]:
x_train_new=pd.Dataframe(x_train_mn, columns=x_train.columns)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [29]:
np.round(x_train_new.describe(),2)

NameError: name 'x_train_new' is not defined

In [1]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\tips.csv")
df

NameError: name 'pd' is not defined