In [1]:
import numpy as np 
import pandas as pd

In [2]:
#DATA Dividation

'''
Class----> x(input) + y(targetdata)
x(input) ----> x_train + x_test
y(target) ---->y_train + y_test

machine(x_train,y_train) ---> machine(x_test)---->output ????Prediction(y_pred)
actual_Data(y_test)

df=2+2 =4
3+2=5
5+3=8

x(2+2, 3+2 ,5+3)
y(4,5,8)

x_train(2+2,3+2)
y_train(4,5)
machine(x_train,y_train)
machine ---> predict(9)
but actual_output=8 ....in this we check performance of machine
'''

'\nClass----> x(input) + y(targetdata)\nx(input) ----> x_train + x_test\ny(target) ---->y_train + y_test\n\nmachine(x_train,y_train) ---> machine(x_test)---->output ????Prediction(y_pred)\nactual_Data(y_test)\n\ndf=2+2 =4\n3+2=5\n5+3=8\n\nx(2+2, 3+2 ,5+3)\ny(4,5,8)\n\nx_train(2+2,3+2)\ny_train(4,5)\nmachine(x_train,y_train)\nmachine ---> predict(9)\nbut actual_output=8 ....in this we check performance of machine\n'

In [3]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\placement.csv")

In [4]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
df.shape

(100, 3)

In [7]:
x=df.drop(columns=['placed']) ##input columns
#x

In [8]:
y = df['placed']   ##target column
#y

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [11]:
print("total dataframe shape:",df.shape)
print("Input data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("--------------------------------")
print("y data shape",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total dataframe shape: (100, 3)
Input data shape: (100, 2)
x_train data shape: (80, 2)
x_test data shape: (20, 2)
--------------------------------
y data shape (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [12]:
#df(100,3) = x(100,2) + y(100,1)
#x(100,2) = x_train(80,2) + x_test(20,2)
#(100,1) = y_train(80,1) + y_test(20,1)

In [13]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\kartikey_kichara\\covid_toy.csv")

In [14]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
df=df.dropna()

In [17]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [18]:
df.shape

(90, 6)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x=df.drop(columns=['has_covid']) ##input columns
#x

In [21]:
y=df['has_covid']
y.shape

(90,)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [24]:
print("total dataframe shape:",df.shape)
print("Input data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("--------------------------------")
print("y data shape",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total dataframe shape: (90, 6)
Input data shape: (90, 5)
x_train data shape: (72, 5)
x_test data shape: (18, 5)
--------------------------------
y data shape (90,)
y_train data shape: (72,)
y_test data shape: (18,)