In [2]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\Datasets\\covid_toy.csv")

In [6]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
int_list=[]
object_list=[]
for item in x:
    if x[item].dtype=='int64' or x[item].dtype=='float64':
        int_list.append(item)
    else:
        object_list.append(item)
int_list
object_list

['gender', 'cough', 'city']

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler ,OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [19]:
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy="mean")),
    ('scaler',StandardScaler())
])

categorical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy="most_frequent")),
    ('onehot',OneHotEncoder(handle_unknown="ignore"))
])

preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,int_list),
        ('cat',categorical_transformer,object_list)
    ])
clf=Pipeline(steps=[('preprocessor',preprocessor),
                    ('classifier',LogisticRegression())])
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
acc=accuracy_score(y_test,y_pred)

In [22]:
acc

0.45

In [24]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\Datasets\\insurance.csv")

In [25]:
df.head(4)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x=df.drop(columns=['charges'])
y=df['charges']

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
int_list=[]
object_list=[]
for item in x:
    if x[item].dtype=='int64' or x[item].dtype=='float64':
        int_list.append(item)
    else:
        object_list.append(item)
int_list
object_list

['sex', 'smoker', 'region']

In [32]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler ,OneHotEncoder
from sklearn.linear_model import LinearRegression

In [35]:
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy="mean")),
    ('scaler',StandardScaler())
])

categorical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy="most_frequent")),
    ('onehot',OneHotEncoder(handle_unknown="ignore"))
])

preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,int_list),
        ('cat',categorical_transformer,object_list)
    ])
clf=Pipeline(steps=[('preprocessor',preprocessor),
                    ('classifier',LinearRegression())])
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [37]:
from sklearn.metrics import r2_score

In [39]:
a=r2_score(y_pred,y_test)

In [40]:
a

0.7088351277198339