# Practice of column transformer

In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\kartikey_kichara\\covid_toy.csv")

In [3]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
df=df.dropna()

In [6]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,y_train,x_test,y_test=train_test_split(df.drop(columns=['has_covid']), df['has_covid'],test_size=0.2)

In [9]:
x_train

    age  gender  fever   cough       city
44   20    Male  102.0  Strong      Delhi
65   69  Female  102.0    Mild  Bangalore
69   73  Female  103.0    Mild      Delhi
27   33  Female  102.0  Strong      Delhi
57   49  Female   99.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
81   65    Male   99.0    Mild      Delhi
21   73    Male   98.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata
46   19  Female  101.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore

[72 rows x 5 columns]

In [10]:
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(df[['fever']])

x_test_fever=si.fit_transform(df[['fever']])

x_train_fever.shape

(90, 1)

In [11]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(df[['cough']])

x_test_cough=oe.fit_transform(df[['cough']])

x_train_cough.shape

(90, 1)

In [12]:
Ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=Ohe.fit_transform(x_train[['gender','city']])

x_test_gender_city=Ohe.fit_transform([['gender','city']])

x_train_gender_city.shape

(72, 4)

In [13]:
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
                                           ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                           ('tnf3',OneHotEncoder(sparse_output=False,drop="first"),['gender','city'])
                                          ],remainder="passthrough")

In [14]:
transformer.fit_transform(x_train).shape

(72, 7)

In [15]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [16]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\kartikey_kichara\\covid_toy.csv")

In [17]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [18]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [19]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [20]:
df=df.dropna()

In [21]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[90 rows x 6 columns]

In [22]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [23]:
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(df[['fever']])
x_test_fever=si.fit_transform(df[['fever']])

x_train_fever.shape

(90, 1)

In [24]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(df[['cough']])
x_test_cough=oe.fit_transform(df[['cough']])

x_train_cough.shape

(90, 1)

In [25]:
ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])
x_test_gender_city=ohe.fit_transform([['gender','city']])

x_train_gender_city.shape

(80, 4)

In [26]:
from sklearn.compose import ColumnTransformer

In [27]:
transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
                                             ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                             ('tnf3',OneHotEncoder(drop="first",sparse_output=False),['gender','city'])
                                             ],remainder="passthrough")
transformer.fit_transform(x_train).shape

(80, 7)

In [28]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [29]:
df=pd.read_csv("C:\\Users\\anski\\Desktop\\all_folder\\kartikey_kichara\\covid_toy.csv")

In [30]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [31]:
df=df.dropna()

In [32]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [33]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [34]:
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(df[['fever']])
x_test_fever=si.fit_transform(df[['fever']])

x_train.shape

(72, 5)

In [35]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train=oe.fit_transform(df[['cough']])
x_test=oe.fit_transform(df[['cough']])

x_train.shape

(90, 1)

In [36]:
ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=ohe.fit_transform(df[['gender','city']])
x_test_gender_city=ohe.fit_transform(df[['gender','city']])

x_train_gender_city.shape

(90, 4)

In [37]:
# transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
#                                             ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
#                                             ('tnf3',OneHotEncoder(drop="first",sparse_output=False),['gender','city'])
#                                            ],remainder="passthrough")

# transformer.fit_transform(x_train).shape

In [40]:
transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
                                             ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                             ('tnf3',OneHotEncoder(sparse_output=False,drop="first"),['gender','city'])
                                             ],remainder="passthrough")

In [41]:
transformer.fit_transform(x_train).shape

ValueError: Specifying the columns using strings is only supported for dataframes.